/* chnages the background color */
#homepage-header {
  background-color: yellow;
}

/* changes the font colour to grey */
.grayed {
  color: grey;
}

/* targeting element without class */

footer {
  background-color: red;
  color: white;
}

/* you can target specific elements within the input field */
input[type=text] {
  /* it changes it green because it matches that element */
  background-color: green;
}

input[type=password] {
  background-color: orange;
}

input[type=submit] {
  background-color: yellow;
}
