body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8ff;
}

/* Fonts */
h1 {
  text-align: center;
  font-size: 65px;
}
/* End of Fonts */

/* Search Bar */
.search-bar {
  text-align: center;
  position: relative;
  border: none;
}

.myInput {
  border: 1px solid black;
  border-radius: 110px;
  width: 50%;
  font-size: 17px;
  padding-left: 5px;
}

.button {
  background-color: #CFC7C7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}

.align-btn {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fa-search {
  border: none;
  background-color: #f8f8ff;
}
/* End of Search Bar */

/* Search Bar Animation */
.myInput:hover {
  border-color: white;
  background-color: #DCEFFB;
  color: white;
  transition: ease-in-out 550ms;
}

/* End of Search Bar Animation */
