body {

}

/* Fonts */
h1 {
  text-align: center;
  font-size: 65px;
}
/* End of Fonts */

/* Search Bar */
.search-bar {
  text-align: center;
}

input-type {
  border: 2px solid grey;
  border-radius: 130px;
}

.button {
  background-color: #CFC7C7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}

.align-btn {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* End of Search Bar */
